<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysecondapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.MySecondApplication">
        <activity
            android:name=".UI.NavigationDrawer.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.MySecondApplication.NoActionBar"></activity>
        <activity android:name=".UI.Login_Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>